<ngx-datatable
        #myTable
        class="material"
        [rows]="items"
        [columnMode]="'force'"
        [headerHeight]="40"
        [footerHeight]="40"
        [rowHeight]="'auto'"
        [limit]="10">
    <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
            <div style="padding-left:35px;">
                <div><strong>Body</strong></div>
                <div>{{row._body}}</div>
            </div>
        </ng-template>
    </ngx-datatable-row-detail>

    <ngx-datatable-column
            [width]="50"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <i class="icon row-expander"
               [class.icon-arrow-right]="!expanded"
               [class.icon-arrow-down]="expanded"
               title="Expand/Collapse Row"
               (click)="toggleExpandRow(row)">
            </i>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Title" prop="title">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <span>{{value}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Tags" prop="tags">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <span *ngFor="let tag of value" class="btn btn-default tag">{{tag}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Toggle" prop="done">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <ngx-toggle name="toggle" [(ngModel)]="row.value">
                <strong [hidden]="row.value">Pending</strong>
                <strong [hidden]="!row.value">Done</strong>
            </ngx-toggle>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Actions">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <ngx-button class="btn btn-default">
                <i class="icon icon-edit-app has-text-right"></i> Edit
            </ngx-button>

            <ngx-button class="btn btn-default" (click)="deleteRow(row)">
                <i class="icon icon-trash has-text-right"></i> Delete
            </ngx-button>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>