<ngx-datatable
        #myTable
        class="material"
        [rows]="items"
        [columnMode]="'flex'"
        [headerHeight]="40"
        [footerHeight]="40"
        [rowHeight]="'auto'"
        [limit]="10">
    <ngx-datatable-column name="Name" prop="name" [flexGrow]="1">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <span>{{value}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Contributors" prop="contributors" [flexGrow]="1">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <span *ngFor="let c of value" [class.error]="c.count > 1"
                  class="btn btn-default tag">{{c.name}} ({{c.count}})</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Timestamp" prop="ts" [flexGrow]="1">
        <ng-template let-value="value" ngx-datatable-cell-template>
            <span>{{value | date:'long'}}</span>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>