<ngx-section
        fxFlex="100"
        class="shadow"
        [sectionTitle]="'Create Todo'"
        [sectionCollapsible]="false">
    <ngx-input
            type="text"
            [label]="'Title'"
            [autofocus]="true"
            [(ngModel)]="newTodo.title"
            [hint]="'Enter your todo summary'">

        <ngx-input-prefix>
            <i class="icon-bolt"></i>
        </ngx-input-prefix>
        <ngx-input-suffix>
            <i class="icon-x" (click)="newTodo.title = ''"
               ngx-tooltip
               [tooltipTitle]="'Clear input'"
               [tooltipType]="'tooltip'"
               [tooltipPlacement]="'top'"></i>
        </ngx-input-suffix>

    </ngx-input>

    <ngx-input
            type="textarea"
            [label]="'Body'"
            [(ngModel)]="newTodo.body"
            [hint]="'Specify in detail what it is that you need to get done'">

        <ngx-input-prefix>
            <i class="icon-edit-app"></i>
        </ngx-input-prefix>
    </ngx-input>

    <ngx-select
            [filterable]="true"
            [multiple]="true"
            [(ngModel)]="newTodo.tags"
            [label]="'Tags'"
            [hint]="'Tag you todo'">

        <ngx-select-option name="Scott" value="scott"></ngx-select-option>
        <ngx-select-option name="Neil" value="neil"></ngx-select-option>
        <ngx-select-option name="Darren" value="darren"></ngx-select-option>
        <ngx-select-option name="James" value="james"></ngx-select-option>
        <ngx-select-option name="Bernd" value="bernd"></ngx-select-option>
        <ngx-select-option name="Lewis" value="lewis"></ngx-select-option>
    </ngx-select>

    <div fxFlex="100" fxLayout="row" fxLayoutAlign="end center" class="button-container">
        <ngx-button class="btn btn-default" [state]="states.clear" (click)="ClearToDo()">
            <i class="icon icon-x has-text-right"></i> Clear
        </ngx-button>

        <ngx-button class="btn btn-primary" [state]="states.save" (click)="SaveToDo()">
            <i class="icon icon-save has-text-right"></i> Save
        </ngx-button>
    </div>

    <div class="progress-linear" role="progressbar" *ngIf="loaders.saving">
        <div class="container">
            <div class="bar">
            </div>
        </div>
    </div>

</ngx-section>