/* You can add global styles to this file, and also import other style files */
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  min-height: 100%;
  padding: 1em;
}

.moonlight-theme {
  background-repeat: initial !important;
}
